$header-color : #dcdcdc;

html{
    color: red;
  }

// ####################################################
// header
// ####################################################
header{
    background: #fff;
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;    
    background-color: $header-color;
    padding: 10px 50px 10px 50px;
    .container{
        width: 100%;    
        display: flex;
        .left{
            width: 30%;
            p{
                font-weight: bold;
            }
        }
        .right{
            width: 70%;
            text-align: right;
            a{
                padding-left: 2rem;
                font-weight: bold;
                // text-decoration: none;
            }

            // ####################################################
            // header menu
            // ####################################################
            .headre-hover {
                display: inline-block;
                position: relative;
                text-decoration: none;
            }
            .headre-hover::after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 1rem;
                width: 0;
                height: 2.5px;
                background: #2196F3;
                transition: all 0.3s ease 0s;
            }
            .headre-hover:hover {
            cursor: pointer;
            }
            .headre-hover:hover::after {
            width: 100%;
            }
        }
    }
}

// ####################################################
// body
// ####################################################
body{
    // ####################################################
    // 背景画像の設定
    // ####################################################
    background-image: url("../img/back-ground-01.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

