$header-color : #dcdcdc;

// ####################################################
// header
// ####################################################
header{
    background: #fff;
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;    
    background-color: $header-color;
    padding: 10px 50px 10px 50px;
    z-index: 100;
    .container{
        width: 100%;    
        display: flex;
        .left{
            width: 30%;
            p{
                font-weight: bold;
            }
        }
        .right{
            width: 70%;
            text-align: right;
            a{
                padding-left: 2rem;
                font-weight: bold;
                // text-decoration: none;
            }

            // ####################################################
            // header menu
            // ####################################################
            .headre-hover {
                display: inline-block;
                position: relative;
                text-decoration: none;
            }
            .headre-hover::after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 1rem;
                width: 0;
                height: 2.5px;
                background: #2196F3;
                transition: all 0.3s ease 0s;
            }
            .headre-hover:hover {
            cursor: pointer;
            }
            .headre-hover:hover::after {
            width: 100%;
            }
        }
    }
}

// ####################################################
// body
// ####################################################
body{
    // ####################################################
    // 背景画像の設定
    // ####################################################
    background-image: url("../img/back-ground-top.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    
    #main-content{
        // ####################################################
        // 中央寄せ共通
        // ####################################################
        .content-center{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
        }

        // ####################################################
        // トップ画面
        // ####################################################
        .top{
            p{
                text-align: left;
                font-family: 'M PLUS 1p', sans-serif;
                font-weight: lighter;
                color: white;
            }
        }

        // ####################################################
        // アプリ一覧画面
        // ####################################################
        .appli{
            width: 80%;
            text-align: center;
            .appli-catch-copy{
                h1{
                    color: white;
                    font-size: 2rem;
                }
                p{
                    color: white;
                }


                table{
                    // border-collapse: separate;
                    // border-spacing: 0;
                    // border-radius: 50px;
                    // border-spacing: 7px 0px;

                    margin-right: auto;
                    margin-left: auto;
                    // border: 1px solid #000;
                    border-spacing: 0;
                    border-collapse: separate;
                    // -webkit-border-radius: 18px 18px 0 0 ;
                    -moz-border-radius: 6px;

                    overflow: hidden;
                    width: 100%;
                    background-color: white;
                    margin-top: 20px;
                    thead{
                        tr{
                            th{
                                border: solid 2px ;
                                border-right: 0px;
                                border-collapse: separate;
                                height:100px;
                                border-radius:18px 18px 0 0; 
                                span{
                                    font-size: 70px;
                                }
                            }
                            .border-right{
                                border-right: 2px solid black;
                            }
                        }
                    }
                    tbody{
                        tr{
                            td{
                                // border: solid 1px black;
                                // border-bottom: none;
                                height:400px;
                                p{
                                    font-weight: bold;
                                    font-size: 1.5rem;
                                    color: black;
                                }
                            }
                        }
                    }
                }
            }
        }

        // ####################################################
        // 問い合わせ画面
        // ####################################################
        // .Inquiry{
        //     background-color: #dddddd;
        //     font-size: 23px;       
        //     height:70%;
        //     width: 80%;
        //     div{
        //         h2{
        //             padding-top: 10px;
        //             text-align: center;
        //         }
        //         form{
        //             margin-top: 10px;
        //             .Inquiry-subtitle{
        //                 text-align: left;
        //                 padding-left: 10%;
        //             }
        //             div{
        //                 text-align: right;
        //                 .inquiry-content-align{
        //                     // display: inline-block;
        //                     .inquiry-content-align-input{
        //                     display: inline-block;
        //                     text-align: left;
        //                     max-width: 50%;
        //                     min-width: 50%;
        //                     margin: 0 15% 0 3%;
        //                     }
        //                     select{
        //                         border: 1px solid #b4b3b3;
        //                         background-color: white;
        //                         -moz-appearance: menulist;
        //                         -webkit-appearance: menulist;
        //                     }
        //                 }
        //                 div{
        //                     margin-top: 10px;
        //                     input[type=text],textarea{
        //                         display: inline-block;
        //                         min-width: 50%;
        //                         max-width: 50%;
        //                         background-color: white;
        //                         margin: 0 15% 0 3%;
        //                     }
        //                     label{
        //                         span{
        //                             color: white;
        //                             background: #fb3b6f;
        //                             display: inline-block;
        //                             padding: 2px 5px;
        //                             font-size: 10px;
        //                             font-size: 1rem;
        //                             -moz-border-radius: 2px;
        //                             -webkit-border-radius: 2px;
        //                             border-radius: 2px;
        //                             // position: absolute;
        //                             right: 16px;
        //                             top: 19px;
        //                             margin-left: 10px;
        //                         }
        //                     }
        //                 }
        //             }
        //             button{
        //                 float: right;
        //                 margin-right: 15%;
        //                 position: relative;
        //                 display: inline-block;
        //                 padding: 0.25em 0.5em;
        //                 text-decoration: none;
        //                 color: #FFF;
        //                 background: #fd9535;/*色*/
        //                 border-radius: 4px;/*角の丸み*/
        //                 box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
        //                 font-weight: bold;
        //                 border: solid 2px #d27d00;/*線色*/
        //             }
        //         }
        //     }
        // }

        .Inquiry {
            background-color: #dddddd;
            font-size: 23px;
            //   表示崩れは↓が原因でした。
            //   height: 70%;
            height: auto;
            margin-top: 40px; // ここは適当な数値
            width: 80%;
            div {
              h2 {
                padding-top: 10px;
                text-align: center;
              }
              form {
                margin-top: 10px;
                .Inquiry-subtitle {
                  text-align: left;
                  padding-left: 10%;
                }
                div {
                  //   変更した箇所
                  .container {
                    // containerクラスの横幅を全体の80%に指定
                    width: 80%;
                    //   項目と項目の間の幅
                    padding: 4px 0;
                    //   中央寄せ
                    margin: auto;
                    //   flex化
                    display: flex;
                    input,
                    textarea {
                      background-color: white;
                    }
                    // 左側
                    .left {
                      width: 30%;
                      text-align: right;
                    }
                    // 右側
                    .right {
                      margin-left: 5%;
                      width: 65%;
                    }
                  }
                  div {
                    label {
                      span {
                        color: white;
                        background: #fb3b6f;
                        display: inline-block;
                        padding: 2px 5px;
                        font-size: 10px;
                        font-size: 1rem;
                        -moz-border-radius: 2px;
                        -webkit-border-radius: 2px;
                        border-radius: 2px;
                        // position: absolute;
                        right: 16px;
                        top: 19px;
                        margin-left: 10px;
                      }
                    }
                  }
                }
                // btn-wrapを追加
                // buttonのmargin-right: 15pxを削除
                .btn-wrap {
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  padding: 16px;
                  button {
                    float: right;
                    // margin-right: 15%;
                    position: relative;
                    display: inline-block;
                    padding: 0.25em 0.5em;
                    text-decoration: none;
                    color: #fff;
                    background: #fd9535; /*色*/
                    border-radius: 4px; /*角の丸み*/
                    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2),
                      inset 0 -2px 0 rgba(0, 0, 0, 0.05);
                    font-weight: bold;
                    border: solid 2px #d27d00; /*線色*/
                  }
                }
              }
            }
          }

        // ####################################################
        // お知らせ画面
        // ####################################################
        .news{
            width: 70%;
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translateX(-50%);
            .column{
                .news-article{
                    width: 100%;
                    background-color: rgba(255, 255, 255, 0.55);
                    list-style:none;
                    display: table;
                    .news-img{
                        padding-right: 20px;
                        width: 20%;
                    }
                    .news-contents{
                        padding-bottom: 10px;
                    }
                    li{ 
                        display:table-cell;
                        img{
                            width: 100%;
                        }
                        h1{
                            border-bottom: solid 3px;
                            border-bottom-color: red;
                            font-size: 30px;
                            padding-top: 10px;
                        }
                        p{
                            font-size: 20px;
                            padding-bottom: 10px;
                            padding-top:20px;
                        }
                        .read-more{
                            text-align: right;
                            padding-right: 20px;
                        }
                    }
                }
                .news-separation{
                    margin-bottom: 20px;
                }
            }
        }
    }
}

// ####################################################
// コンテンツ非表示制御
// ####################################################
.none {
	display: none;
}



/* CSSアニメーションの指定 opneShutter */
.darkening{
    opacity: 1;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#1e1e1e;
    z-index:1100;
}

.opne-shutter{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#1e1e1e;
    z-index:1000;
}

.opne-shutter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    width: 0;
    height: 1px;
    z-index:9999;
}

.opne-shutter {
    -webkit-animation: openShutter 2.5s forwards;
            animation: openShutter 2.5s forwards;
}

.opne-shutter::before {
    -webkit-animation: openShutter2 2.5s forwards;
            animation: openShutter2 2.5s forwards;
}

@keyframes openShutter {
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
      z-index: -1;
    }
}

@keyframes openShutter2 {
    0% {
      width: 0;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    90% {
      width: 100%;
      height: 100%;
    }
    100% {
      width: 100%;
      height: 100%;
    }
}

/* CSSアニメーションの指定 opneShutter */
.close-shutter{
    opacity: 0;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#1e1e1e;
    z-index:1000;
}

.close-shutter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    width: 0;
    height: 1px;
    z-index:9999;

}

.close-shutter {
    -webkit-animation: closeShutter 2.6s backwards;
            animation: closeShutter 2.6s backwards;
}

.close-shutter::before {
    -webkit-animation: closeShutter2 2.6s backwards;
            animation: closeShutter2 2.6s backwards;
}

@keyframes closeShutter {
    10% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        display: block;
        z-index: 9999;
    }
}

@keyframes closeShutter2 {
    0% {
        width: 100%;
        height: 100%;
    }
    10% {
        width: 100%;
        height: 100%;
    }
    50% {
        width: 100%;
        height: 1px;
    }
    85% {
        width: 100px;
        height: 0px;
    }
    100% {
        width: 100px;
        height: 0px;
    }
}